@model ContactViewModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Lions Story Giải pháp giúp bạn mọc tóc hiệu quả nhất</title>
    <link rel="shortcut icon" href="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg" type="image/x-icon">
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext" type="text/css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic,cyrillic-ext"
          type="text/css" rel="stylesheet">
    <!--[if lt IE 9]><link href="https://old.assets-landingi.com/bootstrap/css/ie8-grid.css?v=8.9.8" type="text/css" rel="stylesheet"><link href="https://styles.assets-landingi.com/7cvnR9VA/preview.css" type="text/css" rel="stylesheet"><![endif]-->
    <link href="https://styles.assets-landingi.com/assets/css/2.10-landend-base.css" type="text/css" rel="stylesheet">
    <link href="https://styles.assets-landingi.com/7cvnR9VA/preview.css" type="text/css" rel="stylesheet">
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1150380971761488');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1150380971761488&ev=PageView&noscript=1" /></noscript>
</head>

<body id="TxvpQxGuo6CkxW3pseVeXnPkXz3TAWhR">
    <div id="fwG8O6R5wFuI4GIMqEzXMxnoiEH1Tctn" class="widget widget-section">
        <div class="row">

            <div class="container">

                <div id="Et7VWZQ6a3qdTqS7pHy2PZrGRGbPtOdm" class="widget widget-text">
                    <p>Lions Story Giải pháp giúp bạn mọc tóc hiệu quả nhất</p>
                </div><img id="hJyXNz3desu9zAV2vNAbdsLBfiKnZXqk" width="90" height="90" class="widget widget-image"
                           data-original="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg"
                           src="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg"
                           srcset="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg 1x, https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg 2x"
                           alt=""><a href="#form" id="Aenqqdpe1tlwPx28mMbI0SNt4cSg791d" class="widget widget-button" version="3">
                    <div class="widget-overlay"></div>
                    <div id="ttr9bgbNfWH4SC7frkIwsWNI8Fo3Aa9V" class="widget widget-text">Nhận Tư Vấn Miễn Phí</div>
                </a><a href="https://www.facebook.com/LionsStoryThailand" id="A18vbsFaO45OAWLspAvJJ2TxFcIfEIOg" class="widget widget-icon"
                       target="_blank">
                    <i class="fa fa-facebook-official"></i>
                </a><i id="z5FaV1fTJ6mU0s1JdzMJ4EokQ4IBHTsA" class="fa fa-phone-square widget widget-icon"></i><i id="V7lW2XPy05a4HrQRL71eEZJ5uFpa2F3i"
                                                                                                                  class="fa fa-check-circle widget widget-icon"></i>
                <div id="CGHDG40xuzDNmF3S1rcsvF2yGH56Lhmd" class="widget widget-text">
                    <p>Sản phẩm chính hãng chất lượng hàng đầu</p>
                </div>
                <div id="bGZqmww8flDmH1KXemzwSUwk4nQr1qmf" class="widget widget-text">
                    <p>Hoàn tiền 100% nếu như sản phẩm không hiệu quả</p>
                </div><i id="cuJImr2eSzAXZtvIUPKBkCHAZ06Jei2H" class="fa fa-check-circle widget widget-icon"></i>
                <div id="Hl47QLKbeG54NC0845nm8UTTyx1FuMLq" class="widget widget-text">
                    <p>Được bộ Y Tế Thailand kiểm định chất lượng và cấp giấy phép</p>
                </div><i id="baiHuTKCkP0guxUtOxv1tvdygTKA01FC" class="fa fa-check-circle widget widget-icon"></i>
                <div id="m28iQ9VJHqegxXs6g95JkPaidRKO6bTJ" class="widget widget-box"></div><a href="#form" id="ouu2mvMwLhUoJHZpI0C7vuVEyKl5k5Ua"
                                                                                              class="widget widget-button" version="3">
                    <div class="widget-overlay"></div>
                    <div id="siu5whbKXJOFv6Vt2WCVElVErAIFulqp" class="widget widget-text">
                        Để lại SDT để được tư vấn
                        miễn phí
                    </div>
                </a><img id="ITJCseLEybDT82raeJxEl1wwyDRIEVcr" width="960" height="639" class="widget widget-image"
                         data-original="https://images.assets-landingi.com/19c648Le/48167283_385868912151039_4763614198691266560_n.jpg"
                         src="https://images.assets-landingi.com/19c648Le/48167283_385868912151039_4763614198691266560_n.jpg"
                         srcset="https://images.assets-landingi.com/19c648Le/48167283_385868912151039_4763614198691266560_n.jpg 1x, https://images.assets-landingi.com/19c648Le/48167283_385868912151039_4763614198691266560_n.jpg 2x"
                         alt="">
                <div id="mW3WtTDiaOUyVqqIzFbPDmunTElgG2pz" class="widget widget-text">
                    <p>"ฟูจิ แอนด์ มัลเบอร์รี่ เเอร์ เซรั่ม สรรพคุณ "</p>
                </div>
            </div>
        </div>
    </div>
    <div id="DNWaPwbx88XmioibxTJdtz51T5zhNiPo" class="widget widget-section">
        <div class="row">

            <div class="container">

                <div id="AzrWQk3z4WdgTTLSUgyF9lmU38NAPOKO" class="widget widget-text">
                    <p>
                        <span style="color: rgb(244, 119, 0);">
                            Chữa dứt điểm nỗi lo rụng tóc - hói đầu chỉ sau 1 liệu
                            trình
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="gIDmRDGe7TuaoPbCVaT6qwKB6rKvBTnc" class="widget widget-section">
        <div class="row">

            <div class="container">

                <div id="JGyz0UL24F3y9sSPkvq3WdqgFoH0RSpu" class="widget widget-text">
                    <p>Nỗi đau không chỉ riêng mỗi bạn ! ! !</p>
                </div>
                <div id="uG5X1dRSZcZ4UBnJObpC7gE3nQNgVuk0" class="widget widget-box"></div><i id="MEcnvB74TbLUlKaN61SkxaaQozKzTsuH"
                                                                                              class="fa fa-exclamation-circle widget widget-icon"></i>
                <div id="Gq90J0CR0UhJyUZHD46N1HZG3Sx57btf" class="widget widget-text">
                    <p>Mỗi lần chải tóc là </p>
                    <p>cả nắm tóc rụng xuống </p>
                </div>
                <div id="rytNNfHcNZKSGJC3HeCP9UOXfUcikxrG" class="widget widget-text">
                    <p>Thiếu tự tin mỗi lần gặp khách hàng hay bạn bè vì tóc chẳng còn mấy sợi </p>
                </div>
                <div id="p07GvpKiWpu0nTfUTrlPTKgNWUuLWlxT" class="widget widget-text">
                    <p>Tốn cả chục triệu để chữa </p>
                    <p>thuốc mua tứ phương nhưng vẫn không mọc lại được</p>
                    <p><br></p>
                </div><i id="B6MVk4lA0FevM3aiZQZId6tAqAD1Vpgd" class="fa fa-exclamation-triangle widget widget-icon"></i><i id="LFOETTiQL6VG4OKm6qGEs4mDICE97MHS" class="fa fa-frown-o widget widget-icon"></i><i id="BSvOZ5lfqg0KCTbe4y9TMIaJbnqFMleD"
                                                                                                                                                                                                                  class="fa fa-times-circle widget widget-icon"></i>
                <div id="FATLeQcg9qraOieO0u8pfIWPxfhOGOr5" class="widget widget-text">
                    <p>Muốn chữa hết bệnh nhưng chả biết đặt niềm tin vào đâu </p>
                </div><img id="gK3sCSVq98WOCfLeCatWFWRdSLbo37Cu" width="385" height="199" class="widget widget-image"
                           data-original="https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png" src="https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png"
                           srcset="https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png 1x, https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png 2x"
                           alt="">
                <div id="SCTbZZMrPDW4uSBnXmbJaOrATdINXRse" class="widget widget-text">
                    <p>
                        <span style="color: rgb(244, 119, 0);">"Lions Story </span><span style="color: rgb(40, 38, 36);">
                            Thương
                            hiệu đến từ Thái Lan
                        </span><span style="color: rgb(244, 119, 0);">"</span>
                    </p>
                </div>
                <div id="zCBPqSq0yvzT59vvhOnddg9LH61friKF" class="widget widget-box"></div>
            </div>
        </div>
    </div>
    <div id="XucrddECCJhHOt0ZbUnFnzcyTw53JFUG" class="widget widget-section">
        <div class="row">

            <div class="container">

                <img id="XRM2Fp5xE2yyVCCyvTBQmEVddqh1h5iQ" width="242" height="170" class="widget widget-image"
                     data-original="https://images.assets-landingi.com/pteas8Uf/shutterstock_420360988_125981.png" src="https://images.assets-landingi.com/pteas8Uf/shutterstock_420360988_125981.png"
                     srcset="https://images.assets-landingi.com/pteas8Uf/shutterstock_420360988_125981.png 1x, https://images.assets-landingi.com/pteas8Uf/shutterstock_420360988_125981.png 2x"
                     alt=""><img id="KoEwfUAtQR0G8EvudkELtNWBFaTS3N7n" width="242" height="161" class="widget widget-image"
                                 data-original="https://images.assets-landingi.com/xa9S9wyn/shutterstock_419295316_309726.png" src="https://images.assets-landingi.com/xa9S9wyn/shutterstock_419295316_309726.png"
                                 srcset="https://images.assets-landingi.com/xa9S9wyn/shutterstock_419295316_309726.png 1x, https://images.assets-landingi.com/xa9S9wyn/shutterstock_419295316_309726.png 2x"
                                 alt=""><img id="sVws0dhrqcfwTtWGpwIQDdt2wH6OfbTH" width="263" height="162" class="widget widget-image"
                                             data-original="https://images.assets-landingi.com/mc4rZS0v/shutterstock_1228438534_467143.png" src="https://images.assets-landingi.com/mc4rZS0v/shutterstock_1228438534_467143.png"
                                             srcset="https://images.assets-landingi.com/mc4rZS0v/shutterstock_1228438534_467143.png 1x, https://images.assets-landingi.com/mc4rZS0v/shutterstock_1228438534_467143.png 2x"
                                             alt=""><img id="T1mNxnv358sKsZgs9tifCh0IPgIRUsOx" width="236" height="157" class="widget widget-image"
                                                         data-original="https://images.assets-landingi.com/bmc6sFsf/shutterstock_567599218_837790.png" src="https://images.assets-landingi.com/bmc6sFsf/shutterstock_567599218_837790.png"
                                                         srcset="https://images.assets-landingi.com/bmc6sFsf/shutterstock_567599218_837790.png 1x, https://images.assets-landingi.com/bmc6sFsf/shutterstock_567599218_837790.png 2x"
                                                         alt="">
            </div>
        </div>
    </div>
    <div id="Nq6f5tlNyRtGE6FBy8XZVoDsDOBJQ6ZD" class="widget widget-section">
        <div class="row">

            <div class="container">

                <img id="TKI8woCWVZEqNmsEOFinqSkz7XAckrwP" width="298" height="320" class="widget widget-image"
                     data-original="https://images.assets-landingi.com/tnyjAtbG/IMG_3063.png" src="https://images.assets-landingi.com/tnyjAtbG/IMG_3063.png"
                     srcset="https://images.assets-landingi.com/tnyjAtbG/IMG_3063.png 1x, https://images.assets-landingi.com/tnyjAtbG/IMG_3063.png 2x"
                     alt="">
                <div id="vd9fwOIvCU4Ds2qQKugw25yRXR8xJ4SN" class="widget widget-box"></div>
                <div id="CVDiWCfXnnedl9FVCRbSNTXo67zVrWXa" class="widget widget-text">
                    <p>"Sản phẩm là dạng Serum</p>
                    <p>
                        Dùng mỗi ngày 2 lần sáng và tối.<span style="">
                            Xoa serum lên vùng cần mọc tóc và massage nhẹ
                            nhàng 2-3 phút.
                        </span>
                    </p>
                    <p>
                        <span style="">
                            Thuốc sẽ ngấm qua biểu bì da đi vào nang tóc kích thích mọc tọc lại như ban đầu"
                        </span>
                    </p>
                </div>
                <div id="ZoUgS4AqLPuh2AspoXJOSAR41GuEOvTb" class="widget widget-text">
                    <p>Lions Story <span style="color: rgb(56, 50, 44);">giải pháp giúp bạn vượt qua nỗi đau này</span></p>
                </div>
                <div id="XpBG4W3Q9hy6RBGJEHIk73KWNoxdfKd2" class="widget widget-box"></div>
                <div id="m7sQEtU9STmzDagial24uLXdgIi7KJxN" class="widget widget-text">
                    <p>Không tác dụng phụ</p>
                </div>
                <div id="m86MQdOlBG3fMBVA6OV7LZXDqxmdLzHn" class="widget widget-box"></div>
                <div id="KlTuzyNVIStHAEh3TBwK21RsT0ZB5i1g" class="widget widget-text">
                    <p>Phù hợp với mọi loại da đầu</p>
                </div>
                <div id="DBKWAPRMkJGixWMmueJaAxQJWovfedCu" class="widget widget-box"></div>
                <div id="ozTNSli0WHi7qGkpyllzFn6MwrgPWwq8" class="widget widget-text">
                    <p>Chỉ sau 1 liệu trình là tóc sẽ mọc</p>
                </div><a href="#form" id="w89gqyq4cNJgoWTH7rG76KBDu9NC8N7g" class="widget widget-button" version="3">
                    <div class="widget-overlay"></div>
                    <div id="AgfKTrHdRq3s6ded3igtzsNSE5Z3u6i3" class="widget widget-text">
                        Để lại SDT để được tư vấn
                        miễn phí
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="u2CI68vJgiVsGDOyDJ6wvWN5Q7exr1kX" class="widget widget-section">
        <div class="row">

            <div class="container">

                <img id="Tw7Ek5Uu0RXvtVAAUhnulMCKaLZnwxzS" width="371" height="525" class="widget widget-image"
                     data-original="https://images.assets-landingi.com/Z80zpO45/45085770_575555459546490_1041635277015089152_n.jpg"
                     src="https://images.assets-landingi.com/Z80zpO45/45085770_575555459546490_1041635277015089152_n.jpg"
                     srcset="https://images.assets-landingi.com/Z80zpO45/45085770_575555459546490_1041635277015089152_n.jpg 1x, https://images.assets-landingi.com/Z80zpO45/45085770_575555459546490_1041635277015089152_n.jpg 2x"
                     alt=""><img id="toDWQr4mERBuBz4zqp0OhncrzZfzEISR" width="363" height="521" class="widget widget-image"
                                 data-original="https://images.assets-landingi.com/0eExBDla/48377309_899246420466301_810404507065253888_n.jpg"
                                 src="https://images.assets-landingi.com/0eExBDla/48377309_899246420466301_810404507065253888_n.jpg"
                                 srcset="https://images.assets-landingi.com/0eExBDla/48377309_899246420466301_810404507065253888_n.jpg 1x, https://images.assets-landingi.com/0eExBDla/48377309_899246420466301_810404507065253888_n.jpg 2x"
                                 alt="">
                <div id="e14PXoKlhaWTQCDcO4h9QeUZtNouo9du" class="widget widget-text">
                    <p>Sản phẩm đã được kiểm định chất lượng</p>
                </div>
                <div id="npyOyh9yTOUfPRtkhidLWEECa8lHzpRB" class="widget widget-text">
                    <p>Thành Phần Thuốc</p>
                </div>
                <div id="s1k2a84WDA1sdLiOxe6DbV12DDVJPN8g" class="widget widget-box"></div>
                <div id="F6lGNA8NoIxOQBATd9yNnD825kGlP0xx" class="widget widget-box"></div>
            </div>
        </div>
    </div>
    <div id="k40QhBCPmCFKhxZCoiU6xsblRzm5Zoyr" class="widget widget-section">
        <div class="row">

            <div class="container">

                <img id="ZZHdWIt511QRfZQcQRzZ5SI2FTkTm3s1" width="368" height="210" class="widget widget-image"
                     data-original="https://images.assets-landingi.com/3bo9u1ce/49015733_344675499678173_7418171744470433792_n.png"
                     src="https://images.assets-landingi.com/3bo9u1ce/49015733_344675499678173_7418171744470433792_n.png"
                     srcset="https://images.assets-landingi.com/3bo9u1ce/49015733_344675499678173_7418171744470433792_n.png 1x, https://images.assets-landingi.com/3bo9u1ce/49015733_344675499678173_7418171744470433792_n.png 2x"
                     alt=""><img id="WgFtZDWEcahAc38hBT3nulDNaBaO9NuT" width="460" height="261" class="widget widget-image"
                                 data-original="https://images.assets-landingi.com/yjcbfI8c/48266914_1031864730347930_6830360445870669824_n.png"
                                 src="https://images.assets-landingi.com/yjcbfI8c/48266914_1031864730347930_6830360445870669824_n.png"
                                 srcset="https://images.assets-landingi.com/yjcbfI8c/48266914_1031864730347930_6830360445870669824_n.png 1x, https://images.assets-landingi.com/yjcbfI8c/48266914_1031864730347930_6830360445870669824_n.png 2x"
                                 alt=""><img id="LegACeR4lnTq0raTELDuAbZ6aVAEbvQd" width="465" height="274" class="widget widget-image"
                                             data-original="https://images.assets-landingi.com/t2dSfeAz/48356493_347687709356192_4721477623169941504_n_1_.png"
                                             src="https://images.assets-landingi.com/t2dSfeAz/48356493_347687709356192_4721477623169941504_n_1_.png"
                                             srcset="https://images.assets-landingi.com/t2dSfeAz/48356493_347687709356192_4721477623169941504_n_1_.png 1x, https://images.assets-landingi.com/t2dSfeAz/48356493_347687709356192_4721477623169941504_n_1_.png 2x"
                                             alt=""><img id="HdJvDziSdBCHzhWJDHwCFznKdnTTD03T" width="283" height="285" class="widget widget-image"
                                                         data-original="https://images.assets-landingi.com/dfdv7y50/48390390_356235621601225_5984371726736162816_n.jpg"
                                                         src="https://images.assets-landingi.com/dfdv7y50/48390390_356235621601225_5984371726736162816_n.jpg"
                                                         srcset="https://images.assets-landingi.com/dfdv7y50/48390390_356235621601225_5984371726736162816_n.jpg 1x, https://images.assets-landingi.com/dfdv7y50/48390390_356235621601225_5984371726736162816_n.jpg 2x"
                                                         alt="">
                <div id="e4EiZWsqep1NhNyGWkCqpB1VLCLTorgZ" class="widget widget-box"></div>
                <div id="IE2oKwQoAsu0WKnqkrT0OEAFKMo6nLb0" class="widget widget-text">
                    <p>Khách hàng sau khi dùng Lions Story</p>
                </div>
            </div>
        </div>
    </div>
    <div id="pfOmNuUbapocRPz1VPcZdwAVLTGhfJ3x" class="widget widget-section">
        <div class="row">

            <div class="container" id="form">

                <form id="CEsPJK4LtJUyJnDKAmcsZFXuC283StX0" class="widget widget-form" data-orientation="vertical"
                      data-version="2.1" asp-controller="Contact" asp-action="CollectContact" enctype="multipart/form-data" method="post" novalidate data-hash="de96a40c33595c8f1ed1">
                    <div id="Kh39cR9T7VnNrtlfpaA32eJNyD4h4asB" class="widget widget-container clearfix">
                        <label id="lcT1yZCMSAZw5oTnIoTK1wcglkhMMvHr"
                               class="widget widget-text widget-regular-label widget-label">Tên<span style="color: red">*</span></label>
                        <input class="widget widget-input-text" id="URuxQ0ycDnHRcLau1VWAlNvAO0u1iRIk" type="text" asp-for="Fullname">
                    </div>
                    <div id="Kh39cR9T7VnNrtlfpaA32eJNyD4h4asB" class="widget widget-container clearfix">
                        <label id="lcT1yZCMSAZw5oTnIoTK1wcglkhMMvHr"
                               class="widget widget-text widget-regular-label widget-label">Số điện thoại<span style="color: red">*</span></label>
                        <input class="widget widget-input-text" id="URuxQ0ycDnHRcLau1VWAlNvAO0u1iRIk" type="number" asp-for="PhoneNumber">
                    </div>
                    <div id="Kh39cR9T7VnNrtlfpaA32eJNyD4h4asB" class="widget widget-container clearfix">
                        <label id="lcT1yZCMSAZw5oTnIoTK1wcglkhMMvHr"
                               class="widget widget-text widget-regular-label widget-label">Tình trạng da đầu<span style="color: red">*</span></label>
                        <input class="widget widget-input-text" id="URuxQ0ycDnHRcLau1VWAlNvAO0u1iRIk" type="text" asp-for="HeadSkin">
                    </div>
                    <input type="hidden" asp-for="UtmCampaign" value="@ViewBag.utmCampaign" hidden=""/>
                    <input type="hidden" asp-for="UtmAdset" value="@ViewBag.utmAdset" />
                    <input type="hidden" asp-for="UtmAds" value="@ViewBag.utmAds" />
                    <input type="hidden" asp-for="UtmAgent" value="@ViewBag.utmAgent" />
                    <input type="hidden" asp-for="UtmMedium" value="@ViewBag.utmMedium" />
                    <input type="hidden" asp-for="UtmSource" value="@ViewBag.utmSource" />
                    <input type="hidden" asp-for="UtmTeam" value="@ViewBag.utmTeam" />
                    <input type="hidden" asp-for="Keyword" value="@ViewBag.keyword" />
                    <input type="hidden" asp-for="AdsLink" value="@ViewBag.QueryString.ToString()" />
                    <div id="Qmz2TBqaTO77bNoFEoz8ZUAVvTElSQi7" class="widget widget-container input-button-container clearfix">
                        <button class="widget widget-input-button" type="submit" id="d6H5DCEHBAlfk34dDIMuuFl1GbMqoEx5"
                                parentId="CEsPJK4LtJUyJnDKAmcsZFXuC283StX0">
                            <div class="widget-overlay"></div>Đăng kí tư vấn
                        </button>
                    </div>
                </form><img id="L6agZvzZl9naBTVnrwkAtxcz4XQU5Eup" width="355" height="183" class="widget widget-image"
                            data-original="https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png" src="https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png"
                            srcset="https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png 1x, https://images.assets-landingi.com/9aVvcbfe/IMG_3057.png 2x"
                            alt="">
                <div id="Bv6D8qalhz5aH4hy0Kfhxd5KtDuAikD0" class="widget widget-text">
                    <p>Lions Story giải pháp giúp bạn mọc lại tóc hiệu quả </p>
                </div>
                <div id="bnGf9s2Q3TLAtzsSIJJpFTB0vJ9wvLDK" class="widget widget-text">
                    <p>"ฟูจิ แอนด์ มัลเบอร์รี่ เเอร์ เซรั่ม สรรพคุณ "</p>
                </div>
                <div id="EAbDtLVheHhWix6mxetcZKgkf2UvvroO" class="widget widget-text">
                    <p>Để lại thông tin và tình trạng tóc để được tư vấn miễn phí 100%</p>
                </div>
                <div id="XtqafKbHZDeienh3aalBvM1c0JQ0nTTk" class="widget widget-text">
                    <p>Hãy để Lion Story đưa bạn trở về thời niên thiếu</p>
                </div>
                <div id="fZ1uVMsNTMLyLaCEoWuouT2Mt4yy1IvU" class="widget widget-box"></div>
            </div>
        </div>
    </div>
    <div id="g6PhSwhZqnrcyTgA196qmOTkyN1w1GCb" class="widget widget-section">
        <div class="row">

            <div class="container">

                <img id="tDaqqbKgBoN2xzerUbLwmAfWtZGi3zgB" width="90" height="90" class="widget widget-image"
                     data-original="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg"
                     src="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg"
                     srcset="https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg 1x, https://images.assets-landingi.com/iJ49ip6e/48363134_597876137314422_7466008957069295616_o.jpg 2x"
                     alt="">
                <div id="QUg1FzmVKNVfsLrKkgcTWh62Q7hc83CB" class="widget widget-text">
                    <p>Lions story "ฟูจิ แอนด์ มัลเบอร์รี่ เเอร์ เซรั่ม สรรพคุณ "</p>
                </div>
                <div id="x4rXTMieNem6LOtKrLXrETqic92ozZIG" class="widget widget-text">
                    <p>© 2017 Lionsstory.co.th </p>
                    <p>เลขที่ 202 หมู่ 1 ตในราภิรมย์ อ.บางเลน</p>
                    <p>จังหวัดนดรปฐม 73130</p>
                    <p> Hotline Thailand: +66803850112</p>
                </div>
                <div id="PBKdh7Vzihk6G5eKmbFpHRbhOrgRiXhT" class="widget widget-text">
                    <p>Việt Nam</p>
                </div>
                <div id="IIppuMFkktIDruAWSAHh2RFHte3urymw" class="widget widget-text">
                    <p>Hotline: 0986169948</p>
                    <p>Email: Lionsstory@gmail.com</p>
                    <p>Đ/c: B7 Phạm Ngọc Thạch Đống Đa Hà Nội</p>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>

    <script>
        (function (d, s, id) {

            var js, fjs = d.getElementsByTagName(s)[0];

            if (d.getElementById(id)) return;

            js = d.createElement(s);
            js.id = id;

            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=781404068653965";

            fjs.parentNode.insertBefore(js, fjs);

        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-comments row" data-href="http://lionsstory.vn" data-numposts="5" data-width="100%"></div>
</body>

</html>